/* 
    Document   : comment
    Created on : 12 Jul, 2011, 4:40:32 PM
    Author     : gautham
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#right1 {
    text-align: right;
}

#message {
  margin: 8px 0;
  padding: 8px 15px;
  border: solid 1px #999;
  width: 500px;
  border-radius: 12px;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, #CCC),
      color-stop(1, #F5F5F5)
  );
  background-image: -moz-linear-gradient(
      center bottom,
      #CCC 0%,
      #F5F5F5 100%
  );
}
a img {
  border: none;
}

.nested_messages {
  margin-left: 30px;
}

.nested_messages .nested_messages .nested_messages .nested_messages .nested_messages .nested_messages{
  margin-left: 0;
}